#title {
    font-family: 'Spectral SC', serif;
}

body {
    font-family: 'Playfair Display', serif;
}

.emphasize strong {
    color: #FF0000
}

.filterbtn {
    margin-bottom: 10px; /* buttons in the "Filters" column need space between them */
    font-size: 11px;
}

.contentcol {
    max-height: calc(100% - 60px);
    overflow-x: hidden;
}

#tags {
    text-align: center;
}